[Unit]
Description=MengyaFarmServer
After=network.target

[Service]
Type=simple
User=root 
WorkingDirectory=/shumengya/mengyafarmserver
ExecStart=/usr/bin/pip install -r requirements.txt && /usr/bin/python TCPGameServer.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target